* {
    margin: 0;
    padding: 0;
    font-size: .24rem;
}

/* 标题 */
.title {
    color: #000;
    font-weight: .3rem;
}


/* 正文 */
.normal {
    color: #000;
    font-size: .24rem;
}

/* 注释 */
.warn {
    color: #a34f16;
    font-size: .24rem;
}